# URL de conexão com o MongoDB
# Exemplo local: mongodb://localhost:27017/nome-do-banco
# Exemplo Atlas: mongodb+srv://usuario:senha@cluster.mongodb.net/banco
DATABASE_URL=""

# Porta do servidor (Opcional, caso use no código)
PORT=3000